/* ##################################### Tags ####################################### */

body{
  font-family: 'Montserrat', sans-serif;
}

/*############################### Class #################################################*/
.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-size: 1.5rem;
  font-family: "Montserrat-Bold";
}

p{
  color: #8f8f8f;
}

/*############################### ID #################################################*/
#title{
  color: #fff;
  background-color: #ff4c68;
}


/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right:30%;
}



/* Features Section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  padding: 5%;
   text-align: center;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testinomial-image{
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image{
  margin: 20px 20px 50px;
  width: 15%;
}

.carousel-item{
  padding: 7% 15%;
}

/* pricing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-card{
  padding: 3% 2%;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }

  .title-image{
    position:static;
    transform: rotate(0);
  }
}

/* cta section */

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-text{
  color: #fff;
  font-family: "Montserrat-black";
}

/* footer section */

#footer{
  padding: 7% 15%;
  text-align: center;
}
.icons{
  margin: 1.5%;
}
